# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
.lock*
linux_dpdk/.waf*
linux_dpdk/build*
linux_dpdk/version*
linux_dpdk/trex-64.bz2
linux_dpdk/trex-64.bz2
linux_dpdk/*.html
linux_dpdk/cov-int/*


linux/.waf*
linux/build*
linux/version*
scripts/_t-rex-*
scripts/bp-sim-*
scripts/doc/*
scripts/mock-*
scripts/automation/trex_control_plane/doc/_build/*
scripts/automation/trex_control_plane/doc_stl/_build/*
scripts/a.pcap

scripts/exp/pcap_remote_dual-0.erf
scripts/exp/stl_vm_split_client_var.erf-0.erf
scripts/exp/stl_vm_split_flow_var_big_range.erf-0.erf
scripts/exp/stl_vm_split_flow_var_inc.erf-0.erf
scripts/exp/stl_vm_split_flow_var_small_range.erf-0.erf
scripts/exp/http1_with_option_ipv6.pcap
scripts/exp/http1_with_option.pcap
scripts/stl/exportedFile.pcap
scripts/exp/stl_multi_burst1-0.erf
scripts/exp/stl_multi_pkt1-0.erf
scripts/exp/stl_multi_pkt2-0.erf
scripts/exp/pcap_remote_basic-0.erf
scripts/exp/pcap_remote_duration-0.erf
scripts/exp/pcap_remote_loop-0.erf
scripts/exp/stl_single_pkt_burst1-0.erf
scripts/exp/stl_single_sctp_pkt-0.erf
scripts/exp/stl_single_stream-0.erf
scripts/exp/stl_simple_prog1-0.erf
scripts/exp/stl_simple_prog2-0.erf
scripts/exp/stl_simple_prog3-0.erf
scripts/exp/stl_simple_prog4-0.erf
scripts/exp/stl_bb_start_stop-0.erf
scripts/exp/stl_bb_start_stop2-0.erf
scripts/exp/stl_bb_start_stop3-0.erf
scripts/exp/stl_bb_start_stop_delay1-0.erf
scripts/exp/stl_bb_start_stop_delay2-0.erf
scripts/exp/stl_basic_pause_resume0-0.erf
scripts/exp/stl_vm_enable0-0.erf
scripts/exp/stl_vm_enable1-0.erf
scripts/exp/stl_vm_enable2-0.erf
scripts/exp/udp_64B_vm6.pcap
scripts/exp/udp_64B_vm7.pcap
scripts/exp/udp_64B_vm8.pcap
scripts/exp/udp_64B_vm9.pcap
scripts/exp/stl_syn_attack.pcap
scripts/exp/stl_vm_inc_size_64_128.pcap
scripts/exp/stl_vm_rand_size_512B_64_128.pcap
scripts/exp/stl_vm_rand_size_64_128.pcap
scripts/exp/stl_vm_random_size_64_128.pcap
scripts/automation/regression/reports/unit_test.xml
scripts/automation/regression/unit_tests/functional_tests/test.pcap
scripts/exp/stl_single_stream_mac0-0.erf
scripts/exp/stl_single_stream_mac01-0.erf
scripts/exp/stl_single_stream_mac10-0.erf
scripts/exp/stl_single_stream_mac11-0.erf
scripts/exp/udp_64B_vm_mask1.pcap
scripts/exp/udp_64B_vm_mask2.pcap
scripts/exp/udp_64B_vm_mask3.pcap
scripts/exp/udp_64B_vm_mask4.pcap
scripts/exp/udp_64B_vm_mask5.pcap
scripts/exp/udp_64B_vm_mask6.pcap
scripts/exp/stl_vm_enable0_cache_10-0.erf
scripts/exp/stl_vm_enable1_cache_500-0.erf
scripts/exp/imix-0.erf
scripts/exp/imix_v6-0.erf
scripts/exp/ipv4_vlan-0.erf
scripts/exp/ipv6-0.erf
scripts/exp/ipv6_vlan-0.erf
scripts/exp/limit_multi_pkt-0.erf
scripts/exp/limit_single_pkt-0.erf
scripts/exp/imix_64_fast-0.erf
scripts/exp/pcap_mode2-0.erf
scripts/1.cap
scripts/2.cap
scripts/3.cap
scripts/4.cap
scripts/5.cap
scripts/6.cap
scripts/7.cap
scripts/8.cap
scripts/exp/rtsp_short1-0.erf
scripts/exp/rtsp_short1_ipv6_rxcheck.erf
scripts/exp/rtsp_short1_rxcheck.erf
scripts/exp/rtsp_short1_v6-0.erf
scripts/exp/rtsp_short2-0.erf
scripts/exp/rtsp_short2_v6-0.erf
scripts/exp/rtsp_short3-0.erf
scripts/exp/rtsp_short3_v6-0.erf
scripts/exp/sip_short1-0.erf
scripts/exp/sip_short1_v6-0.erf
scripts/exp/sip_short2-0.erf
scripts/exp/sip_short2_v6-0.erf
scripts/exp/sip_short3-0.erf
scripts/exp/sip_short3_v6-0.erf
scripts/exp/imix-0.erf
scripts/exp/imix_v6-0.erf
scripts/exp/limit_single_pkt-0.erf
scripts/exp/pcap_mode1-0.erf









#files generated by global
src/GPATH
src/GRTAGS
src/GTAGS




#generated
*.bak
*.pyc
__pycache__
*_GENERATED.*
 
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
 
# Logs and databases #
######################
*.log
*.sql
*.sqlite
 
# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db


# IDE/ Editors files #
######################
.idea/
*.vpj
*.vpw
*.vtg
*.vpwhist

# Regression #
##############
scripts/automation/regression/reports/*
