# Ignore everything in this directory
*
# Except those files:
!.gitignore
# Allow all directories (so we can traverse into them)
!*/
# But ignore everything in subdirectories
*/*
# Except libzmq and libstd files in any subdirectory
!*/libzmq*
!*/libstd*
