bson
coverage<5
demjson
ecdsa
enum34; python_version < '3.4'
feedparser
jsonlib; python_version < '3.0'
numpy
pandas
pymongo
pytest
pytest-black-multipy
pytest-cov
pytest-flake8
simplejson
sklearn
sqlalchemy
ujson
yajl; sys_platform != 'win32' and python_version < '3.9'
